@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Noto+Serif+Display:ital,wght@0,100..900;1,100..900&display=swap");

body {
  margin: 0;
  background-color: #faf4ea;
  font-family: "Noto Serif Display", serif;
}

.stars {
  animation: resize 5s ease-in-out infinite alternate;
}

@keyframes resize {
  0%,
  100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  75% {
    transform: scale(1);
  }
}

.car {
  transform: translateX(-50%);
  animation: moveForwardBackward 4s linear infinite alternate;
  margin-top: 80px;
}
@keyframes moveForwardBackward {
  0%,
  100% {
    transform: translateY(-50%);
  }
  50% {
    transform: translateY(-50%) translateX(-50px);
  }
}

.rotate-image {
  animation: rotate 20s linear infinite;
}
