@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  background-image: url "../images/color.png";
}

.kurmet {
  font-size: 20px;
  text-align: center;
}

.stars {
  animation: resize 5s ease-in-out infinite alternate;
}

.bastau {
  font-size: 20px;
}
@keyframes resize {
  0%,
  100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  75% {
    transform: scale(1);
  }
}

.tomi {
  font-size: 20px;
}

.car {
  transform: translateX(-50%);
  animation: moveForwardBackward 4s linear infinite alternate;
  margin-top: 80px;
}
@keyframes moveForwardBackward {
  0%,
  100% {
    transform: translateY(-50%);
  }
  50% {
    transform: translateY(-50%) translateX(-50px);
  }
}

.sizder {
  font-size: 20px;
}

.toii {
  font-size: 20px;
}
